
# Secrets
.env
*.env.local
node_modules
.env.production
*.env.production

# Excel temporary files
~$*.xlsx
~$*.xls

# Test scripts dependencies
docs/pruebas/package.json
docs/pruebas/package-lock.json
docs/pruebas/node_modules

# Electron build output
**/release*/
**/dist-electron/
